<footer class="container">
	<div class="row">

		<div class="col-12 col-md-6 col-lg-4 mb-3" data-aos="fade-down">
			<p class="fs-5 m-0" align="justify">
				<span class="fw-bold text-success">Fitnex</span> - это современный фитнес-центр, предлагающий широкий
				спектр услуг для поддержания вашего здоровья и физической формы. Наши профессиональные тренеры помогут
				вам достичь ваших целей!
			</p>
		</div>

		<div class="col-12 col-md-6 col-lg-4 mb-3 d-flex justify-content-center" data-aos="fade-down">
			<div>
				<h3>Ссылки</h3>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="''"
						   role="button">Главная</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="''"
						   role="button">О нас</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="''"
						   role="button">Контакты</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="''"
						   role="button">Политика конфиденциальности</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="''"
						   role="button">Услуги</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-12 col-md-6 col-lg-4 mb-3" data-aos="fade-down">
			<h3>Рассылка</h3>
			<p class="fs-6 mb-2">
				Подпишитесь на нашу рассылку, чтобы получать последние новости и специальные предложения!
			</p>
			<form>
				<input class="form-control mb-2" placeholder="Электронная почта" type="email">
				<button class="btn btn-success w-100" type="button">Подписаться</button>
			</form>
		</div>

	</div>

	<div class="d-flex flex-column flex-sm-row justify-content-center py-1 my-1 border-top">
		<p>© Test</p>
	</div>
</footer>
