<div class="container my-5">

	<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-aos="fade-down">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
					aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner rounded shadow">
			<div class="carousel-item active">
				<img src="/img/carousel/1.jpg" class="d-block w-100" alt="img">
				<div class="carousel-caption d-none d-md-block">
					<div class="rounded shadow bg-light border-5 border-top border-success text-success py-2">
						<p class="fs-3 mb-2">Начни свой путь к идеальной форме!</p>
						<p class="fs-5 m-0">
							Современные тренажеры и профессиональные тренеры помогут вам достичь цели.
						</p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/img/carousel/2.jpg" class="d-block w-100" alt="img">
				<div class="carousel-caption d-none d-md-block">
					<div class="rounded shadow bg-light border-5 border-top border-success text-success py-2">
						<p class="fs-3 mb-2">Групповые тренировки для любого уровня подготовки</p>
						<p class="fs-5 m-0">
							Йога, функциональный тренинг, танцы и многое другое — выбирайте то, что вдохновляет!
						</p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/img/carousel/3.jpg" class="d-block w-100" alt="img">
				<div class="carousel-caption d-none d-md-block">
					<div class="rounded shadow bg-light border-5 border-top border-success text-success py-2">
						<p class="fs-3 mb-2">Зона отдыха и восстановления</p>
						<p class="fs-5 m-0">
							После тренировки расслабьтесь в сауне или сделайте массаж — ваше тело скажет спасибо!
						</p>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

</div>

<div class="container-fluid bg-light">
	<div class="container my-5 py-5">

		<p class="fs-2 mb-2 text-center text-success" data-aos="fade-down">О нас</p>
		<p class="fs-4 mb-5 text-center text-success" data-aos="fade-down">
			Мы создаем пространство, где каждый становится лучшей версией себя!
		</p>

		<div class="row">
			<div class="col-12 col-lg mb-3 d-flex justify-content-center" data-aos="fade-down">
				<div class="card card-body border-0 shadow">
					<p class="fs-6 m-0" align="justify">
						Наш фитнес-центр — это не просто место для тренировок, а настоящий клуб единомышленников, где
						царит
						атмосфера поддержки и мотивации. Мы предлагаем современное оборудование, профессиональных
						тренеров и
						разнообразные программы, которые подойдут как новичкам, так и опытным спортсменам. Наша цель —
						помочь
						вам достичь своих целей с комфортом и удовольствием.
					</p>
					<p class="fs-5 my-2">Наши особенности</p>
					<p class="fs-6 m-0">
						- Современные тренажеры от ведущих мировых производителей.
					</p>
					<p class="fs-6 m-0">
						- Профессиональные тренеры с индивидуальным подходом к каждому клиенту.
					</p>
					<p class="fs-6 m-0">
						- Разнообразие групповых программ: йога, пилатес, функциональный тренинг, танцы и многое другое.
					</p>
					<p class="fs-6 m-0">
						- Зона восстановления с сауной, массажем и spa-услугами.
					</p>
					<p class="fs-6 m-0">
						- Удобное расположение и комфортные условия для занятий.
					</p>
					<p class="fs-6 m-0">
						- Возможность составить персональную программу тренировок и питания
					</p>
				</div>
			</div>
			<div class="col-12 col-lg mb-3 d-flex justify-content-center" data-aos="fade-down">
				<img src="/img/about.jpg" alt="img" class="object-fit-cover w-100 rounded shadow">
			</div>
		</div>

	</div>
</div>

<div class="container my-5">
	<div class="row">
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-down" data-aos-delay="250">
			<div class="card card-body border-0 shadow h-100">
				<i class="fas fa-heartbeat fs-1 text-center my-3 text-danger"></i>
				<p class="fs-6 m-0" align="justify">
					Индивидуальные тренировочные программы: Наши тренеры создадут персонализированные планы
					тренировок, чтобы помочь вам достичь ваших фитнес-целей.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-down" data-aos-delay="500">
			<div class="card card-body border-0 shadow h-100">
				<i class="fas fa-dumbbell fs-1 text-center my-3 text-black-50"></i>
				<p class="fs-6 m-0" align="justify">
					Современное оборудование: Наш фитнес-центр оснащен самым передовым оборудованием для эффективных
					тренировок.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-down" data-aos-delay="750">
			<div class="card card-body border-0 shadow h-100">
				<i class="fas fa-water fs-1 text-center my-3 text-primary"></i>
				<p class="fs-6 m-0" align="justify">
					Станции гидратации: У нас есть специальные станции для пополнения запасов воды и поддержания
					вашего организма в отличном состоянии.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-down" data-aos-delay="1000">
			<div class="card card-body border-0 shadow h-100">
				<i class="fas fa-shower fs-1 text-center my-3 text-black"></i>
				<p class="fs-6 m-0" align="justify">
					Душевые: После тренировки вы можете освежиться в наших комфортабельных душевых.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-down" data-aos-delay="1250">
			<div class="card card-body border-0 shadow h-100">
				<i class="fas fa-lock fs-1 text-center my-3 text-warning"></i>
				<p class="fs-6 m-0" align="justify">
					Безопасные раздевалки: Наши раздевалки оборудованы надежными шкафчиками для хранения ваших
					личных вещей.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-down" data-aos-delay="1500">
			<div class="card card-body border-0 shadow h-100">
				<i class="fas fa-users fs-1 text-center my-3 text-success"></i>
				<p class="fs-6 m-0" align="justify">
					Групповые занятия: Мы предлагаем различные групповые занятия, чтобы вы могли тренироваться в
					компании единомышленников и поддерживать свою мотивацию.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-light">
	<div class="container my-5 py-5">
		<p class="fs-2 mb-2 text-center text-success" data-aos="fade-down">Тренеры</p>
		<p class="fs-4 mb-5 text-center text-success" data-aos="fade-down">
			Наши профессиональные тренеры помогут вам достичь ваших фитнес-целей
		</p>

		<div class="row">
			<div class="col-12 col-lg-4 mb-3" data-aos="fade-down">
				<div class="card shadow border-0 h-100">
					<div class="card-header p-0">
						<img src="/img/trainer/1.jpg" alt="img" class="object-fit-cover w-100 rounded-top" height="300">
					</div>
					<div class="card-body">
						<p class="fs-4 mb-2 text-center">Анна Иванова</p>
						<p class="fs-6 m-0" align="justify">
							Анна - сертифицированный фитнес-тренер с более чем 10-летним опытом. Она специализируется на
							силовых тренировках и разработке индивидуальных программ питания. Анна помогает своим
							клиентам
							достигать лучших результатов, поддерживая их на каждом этапе пути.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 mb-3" data-aos="fade-down">
				<div class="card shadow border-0 h-100">
					<div class="card-header p-0">
						<img src="/img/trainer/2.jpg" alt="img" class="object-fit-cover w-100 rounded-top" height="300">
					</div>
					<div class="card-body">
						<p class="fs-4 mb-2 text-center">Иван Петров</p>
						<p class="fs-6 m-0" align="justify">
							Иван - профессиональный тренер по кардиотренировкам и HIIT. Он известен своей энергией и
							мотивацией, которые передаются его клиентам. Иван помогает людям быстро и эффективно
							достигать
							своих целей по снижению веса и улучшению физической формы.
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 mb-3" data-aos="fade-down">
				<div class="card shadow border-0 h-100">
					<div class="card-header p-0">
						<img src="/img/trainer/3.jpg" alt="img" class="object-fit-cover w-100 rounded-top" height="300">
					</div>
					<div class="card-body">
						<p class="fs-4 mb-2 text-center">Екатерина Смирнова</p>
						<p class="fs-6 m-0" align="justify">
							Екатерина - опытный тренер по йоге и пилатесу. Она работает с клиентами всех уровней
							подготовки,
							помогая им улучшить гибкость, повысить выносливость и обрести внутреннюю гармонию. Екатерина
							верит в силу здорового образа жизни и всегда стремится вдохновить своих подопечных.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="container my-5">

	<p class="fs-2 mb-2 text-center text-success" data-aos="fade-down">Контакт</p>
	<p class="fs-4 mb-5 text-center text-success" data-aos="fade-down">
		Свяжитесь с нами, чтобы узнать больше о наших услугах и записаться на тренировку
	</p>

	<div class="row">
		<div class="col-12 col-lg-4 mb-3" data-aos="fade-down">
			<div class="card card-body shadow border-0 h-100">
				<p class="fs-5 m-0" align="justify">
					Мы всегда рады помочь вам с любыми вопросами или предоставить дополнительную информацию о наших
					услугах. Не стесняйтесь связаться с нами через любой из указанных способов:
				</p>
				<ul class="fs-5">
					<li><i class="fas fa-phone-alt"></i> Телефон: +375 (99) 999-99-99</li>
					<li><i class="fas fa-envelope"></i> Электронная почта: {{ 'info@fitnex.by' }}</li>
					<li><i class="fas fa-map-marker-alt"></i> Адрес: Минск, Минск, Беларусь</li>
				</ul>
			</div>
		</div>
		<div class="col-12 col-lg mb-3" data-aos="fade-down">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75252.68666033309!2d27.510968627109335!3d53.88471296974388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQuiwg0JzQuNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1724993567955!5m2!1sru!2sby"
				allowfullscreen frameborder="0" loading="lazy" class="w-100 rounded shadow h-100"
				style="min-height: 300px"></iframe>
		</div>
	</div>

</div>
